#hero .content,
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .iconify {
    margin-bottom: 1rem;
    color: var(--pico-primary);
  }
}
#hero {
  gap: 4rem;
  .hero-image {
    padding: 1rem;
    height: 100%;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  }
  .content {
    text-align: left;
    align-items: start;
  }
}
#cta {
  margin: 4rem 0;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}
#features {
  .grid {
    padding: 1rem 0;
  }
  article {
    padding: 1rem 1.5rem;
  }
  .icon-title {
    margin: 0.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h4 {
      margin: 0;
    }
    .iconify {
      color: var(--pico-primary);
    }
  }
}
