#hero,
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .iconify {
    margin-bottom: 1rem;
    color: var(--pico-primary);
  }
}
#cta {
  margin: 4rem 0;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}
#features {
  .grid {
    padding: 1rem 0;
  }
  article {
    padding: 1rem 1.5rem;
  }
  .icon-title {
    margin: 0.5rem 0 1rem 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h4 {
      margin: 0;
    }
    .iconify {
      color: var(--pico-primary);
    }
  }
}
